body {
  margin: 50px;
  text-align: center;
  background: #F7FFFD;
}

h1 {
  color: #4A9586;
  font-family: Courgette, Fantasy, Helvetica;
  font-size: 35px;
}

li {
  text-align: left;
  font-family: Fantasy;
  font-size: 18px;
}

.input-field .prefix {
  align: center;
}

#place {
  width: 400px;
}

#map {
  height: 400px;
  width: 100px;
 }

.item-rating {
  color: blue;
  display: block;
  overflow: hidden;
  white-space: nowrap;
}
